*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.price-table{
	background-color: #cad3d3;
}
.price-table-container{
	height: auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #5f727f;
	text-align: center;
	display: flex;
	display: -webkit-flex; /*safari*/
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 70px 0;

}
.price-table-column{
	width: 362px;
	margin: 0 22px;
	position: relative;
	margin-top: 80px;
	display: inline-block;
	align-items: center;

}
.price-table-column .price-table-info ul {
	list-style-type: none;
}
.price-table-title{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	background-image: url("image/image1.jpg");
	padding-top: 100px;
	padding-bottom: 100px;
}
.price-table-title1{
	background-image: url("image/image2.jpg");
	padding-bottom: 74px;
}
.price-table-title-sub{
font-size: 14px;
color: #b6c6c9;
font-family: 'Source Sans Pro', sans-serif;
text-transform: none;
margin-top: 10px;
font-weight: 400;
}
.price-table-title2{
	background-image: url("image/image3.jpg");
}
.price-table-info ul li{
	padding:16px 0;
}
.price-table-info ul li a{
text-decoration: none;
font-size: 16px;
color: #5f727f;
font-family: 'Source Sans Pro', sans-serif;
}
.price-table-subtitle1{
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 300;
}
.price-table-subtitle2{
	font-size: 14px;
	color: #99a9b5;
	margin-top: 10px;
}

.price-table-info ul li:nth-child(2n){
	background-color: #f4f6f7;
}
.price-table-info ul li:nth-child(2n+1){
	background-color: #fff;
}

.price-table-pricing{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-color: #fff;
	position: absolute;
	left: 50%;
    margin-left: -60px;
    top: -60px;
}
.price-table-cost{
	border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.price-table-pricing1{
	background-color: #2c2e3d;
}
.price-table-pricing2{
	background-color: #fff;
}
.price-table-pricing{
	color: #2196f7;
	font-size: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

}
.price-table-pricing1{
	color: #d74498;
}
.price-table-pricing2{
	color: #32ad1e;
}
.price-table-time{
	font-size: 16px;
	color: #99a9b5;
	font-weight: 400;
}
.price-table-footer{
	padding: 20px 0;
	background-color: #fff;
}
.price-table-btn a{
	background-color: #fff;
	font-size: 19px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid;
	border-radius: 3px;
	height: 50px;
	padding: 0 25px;
	line-height: 48px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	margin: 30px 0;
	transition: 0.3s;
	-moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
#buytour1{
	color: #2196f7;
	border-color: #2196f7;
}
#buytour2{
	color: #d74498;
	border-color:  #d74498;
}
#buytour3{
	color: #32ad1e;
	border-color: #32ad1e;
}
a#buytour1:hover{
	background-color: #2196f7;
	color: #fff;
}
a#buytour2:hover{
	background-color: #d74498;
	color: #fff;
}
a#buytour3:hover{
	background-color: #32ad1e;
	color: #fff;
}
.price-table-info ul li:hover{
	background-color: #b0bdbd;
	color: #fff;
	transition: 0.3s;
}
#new{
	background-image: url("icon.png");
	width: 66px;
	height: 66px;
	display: inline-block;
	position: absolute;
	left: -15px;
	top:-15px;
}
#new1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	padding: 30px 0;
}